table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
}

thead {
  font-weight: bold;
}

thead th, tbody td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

thead th {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
