ul.list_employees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 24px;
    margin-top: 40px;
}

ul.list_employees li {
    border: 1px solid #000;
    border-radius: 4px;
    height: 300px;
    width: 33.3%;
}

ul.list_employees li .header {
    background-color: #14688B;
    min-height: 100px;
}

ul.list_employees li .body {
    background-color: #dddddd;
    height: 200px;
}

